body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
}

header{
background-color: orangered;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}
header h1{
    color: white;
    font-size: 50px;
}
header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid black;
}

main{
    max-width:  800px;
    margin:0 auto;
    text-align: center;
    padding:20px;
}

main img{
    max-width: 100%;
}

h2{
font-size: 35px;
color: red;
margin: 40px 0px 10px;
}
ul, ol{

    text-align: justify;
}

p.caption{
    color: rgb(184, 174, 174);
    font-style: italic;
    margin-top: 0px;
}

a{
    color: red;

}
a:hover{

    background-color:black 
}

footer{
    background-color: orangered;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0px;
}